<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
</head>
<body>

  <div id="app">
  	<v-app dark>
  	  <v-navigation-drawer fixed app>
  	    <v-layout justify-center align-center wrap column>
  	      <h2 class="display-3 mt-4 primary--text font-weight-bold ">JS</h2>
  	      <h1 class="display-1 ma-2">{{ developer.name }}</h1>
  	      <span class="display-1 mb-5 font-weight-light title">{{ developer.specialist }}</span>
  	      <div class="ma-2">
  	      	<v-btn @click="scroll('about-me')" class="text-capitalize subheading font-weight-light" flat>About Me</v-btn>
  	      </div>
  	      <div class="ma-2">
  	      	<v-btn @click="scroll('experience')" class="text-capitalize subheading font-weight-light" flat>Experience</v-btn>
  	      </div>
  	      <div class="ma-2">
  	      	<v-btn @click="scroll('skills')" class="text-capitalize subheading font-weight-light" flat>Skills & Education</v-btn>
  	      </div>
  	      <div class="ma-2">
  	      	<v-btn @click="scroll('portfolio')" class="text-capitalize subheading font-weight-light" flat>Portfolio</v-btn>
  	      </div>
  	      <div class="ma-2">
  	      	<v-btn @click="scroll('about-me')" class="text-capitalize subheading font-weight-light" flat>Contact</v-btn>
  	      </div>
  	      <div class="mt-auto">
  	      	<div class="my-4">
  	      	  <v-btn icon href="https://github.com/ashkan90">
  	      	  	<v-icon>mdi mdi-github-box</v-icon>
  	      	  </v-btn>
  	      	  <v-btn icon href="https://www.linkedin.com/in/emirhan-ataman-7b4877166/">
  	      	  	<v-icon>mdi mdi-linkedin-box</v-icon>
  	      	  </v-btn>
  	      	</div>
  	      </div>
  	    </v-layout>
  	  </v-navigation-drawer>



  	  	<v-content class="hide-overflow">
  	  	  <div>
  	  	  	<v-img 
  	  	  	height="100vh"
  	  	  	src="assets/hero.png">
  	  	  	  <v-layout fill-height align-end text-xs-right class="pa-3" >
  	  	  	    <div>
  	  	  	      <div class=" text-uppercase" :class=" this.$vuetify.breakpoint.name == 'xs' ? 'display-1' : 'display-3' ">{{ developer.name }}</div>
  	  	  	      <h1 class="primary--text text-uppercase display-4"
  	  	  	      :class=" this.$vuetify.breakpoint.name == 'xs' ? 'display-2' : 'display-4' ">
                    {{ developer.specialist }}   
                  </h1>
  	  	  	    </div>
  	  	  	  </v-layout>
  	  	  	</v-img>
  	  	  	<v-container fluid class="py-5 px-0">
  	  	  	  <section id="about-me"
  	  	  	  class="layout  wrap"
  	  	  	  :class=" this.$vuetify.breakpoint.name == 'xs' ? 'pa-3' : 'pa-5' "
  	  	  	  style="position: relative;">
  	  	  	  	<v-img src="assets/abstract1.png" class="abstract-1" style="height: 528px; width: 613px;"></v-img>
  	  	  	  	<v-flex xs12 md7>
  	  	  	  	  <section>
  	  	  	  	  	<h2 class="display-2 font-weight-bold primary--text mb-4">Who I am.</h2>
  	  	  	  	  	<v-layout justify-space-between wrap>
  	  	  	  	  	  <v-flex xs12 md7>
  	  	  	  	  	    <div class="subheading mb-5 mb-0">
  	  	  	  	  	      <p>
  	  	  	  	  	      	{{ developer.bio }}
  	  	  	  	  	      </p>
  	  	  	  	  	      <div>
  	  	  	  	  	      	
  	  	  	  	  	      </div>
  	  	  	  	  	    </div>
  	  	  	  	  	  </v-flex>	
  	  	  	  	  	  <v-flex xs12 md4 class="mb-5">
  	  	  	  	  	    <v-layout align-center>
  	  	  	  	  	      <v-flex xs6 class="text-uppercase primary--text font-weight-medium">
  	  	  	  	  	        <div class="mb-3">Location</div>
  	  	  	  	  	        <div class="mb-3">Email</div>
  	  	  	  	  	        <div class="mb-3">Phone</div>
  	  	  	  	  	        <div>Discord</div>
  	  	  	  	  	      </v-flex>
  	  	  	  	  	      <v-flex xs6 class="subheading no-wrap">
  	  	  	  	  	        <div class="mb-3">{{ developer.location }}</div>
  	  	  	  	  	        <div class="mb-3">{{ developer.mail }}</div>
  	  	  	  	  	        <div class="mb-3">{{ developer.phone }}</div>
  	  	  	  	  	        <div>{{ developer.discord }}</div>
  	  	  	  	  	      </v-flex>
  	  	  	  	  	    </v-layout>
  	  	  	  	  	  </v-flex>
  	  	  	  	  	</v-layout>
  	  	  	  	  </section>
  	  	  	  	  <section>
  	  	  	  	  	<h2 class="display-2 font-weight-bold primary--text mb-4">
  	  	  	  	  	  What I can do for you.
  	  	  	  	  	</h2>
  	  	  	  	  	<v-expansion-panel popout>
  	  	  	  	  	  <v-expansion-panel-content
  	  	  	  	  	  class="transparent"
  	  	  	  	  	  v-for="(item, i) in 4"
  	  	  	  	  	  :key="i">
  	  	  	  	  	    <div class="font-weight-light title" slot="header">Item</div>
  	  	  	  	  	    <v-card class="">
  	  	  	  	  	      <v-card-text>
  	  	  	  	  	        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  	  	  	  	  	      </v-card-text>
  	  	  	  	  	    </v-card>
  	  	  	  	  	  </v-expansion-panel-content>
  	  	  	  	  	</v-expansion-panel>
  	  	  	  	  </section>
  	  	  	  	</v-flex>
  	  	  	  	<v-flex md5 class="hidden-sm-and-down text-xs-right text-uppercase">
  	  	  	  	  <div class="display-1">{{ developer.specialist }}</div>
  	  	  	  	  <span class="primary--text headline font-weight-light">
  	  	  	  	  	{{ developer.name }}
  	  	  	  	  </span>
  	  	  	  	</v-flex>
  	  	  	  </section>
  	  	  	  <section id="skills" 
  	  	  	  class="layout wrap justify-space-around" 
  	  	  	  :class=" this.$vuetify.breakpoint.name == 'xs' ? 'pa-3' : 'pa-5' "
  	  	  	  style="position: relative;">
  	  	  	  	<v-img src="assets/abstract2.png" class="abstract-2" style="height: 711px; width: 778px;"></v-img>
  	  	  	  	<v-flex xs12 class="mb-5 position">
  	  	  	  	  <v-layout justify-space-between>
  	  	  	  	    <h2 class="display-2 font-weight-bold primary--text mb-4">
  	  	  	  	      What I know.
  	  	  	  	    </h2>
  	  	  	  	    <blockquote style="max-width: 230px;">
  	  	  	  	      <p class="subheading font-weight-light font-italic">
  	  	  	  	      	{{ developer.shortBio }}
  	  	  	  	      </p>
  	  	  	  	      <footer class="text-xs-center">
  	  	  	  	        <v-btn dark color="primary">DOWNLOAD CV</v-btn>
  	  	  	  	      </footer>
  	  	  	  	    </blockquote>
  	  	  	  	  </v-layout>
  	  	  	  	</v-flex>
  	  	  	  	<v-flex xs12 md3>
  	  	  	  	  <h3 class="headline font-weigth-medium mb-4 primary--text">
  	  	  	  	    My Education
  	  	  	  	  </h3>
  	  	  	  	  <v-sheet class="mb-5 transparent" v-for="(item, i) in education" :key="i">
  	  	  	  	    <v-layout>
  	  	  	  	      <div 
  	  	  	  	      class="mr-3 v-sheet v-sheet--tile theme--dark primary" 
  	  	  	  	      style="height: 100px; width: 1px;"></div>
  	  	  	  	      <v-flex>
  	  	  	  	        <div class="mb-3">{{ item.school }}</div>
  	  	  	  	        <div class="text-xs-right">
  	  	  	  	          <span class="title primary--text">{{ item.degree }}</span>
  	  	  	  	          <footer>
  	  	  	  	          	<div>{{ item.program }}</div>
  	  	  	  	          	<div>{{ item.year }}</div>
  	  	  	  	          </footer>
  	  	  	  	        </div>
  	  	  	  	      </v-flex>
  	  	  	  	    </v-layout>
  	  	  	  	  </v-sheet>
  	  	  	  	</v-flex>
  	  	  	  	<v-flex xs12 md4>
  	  	  	  	  <h3 class="headline font-weigth-medium mb-4 primary--text">
  	  	  	  	    My Skills
  	  	  	  	  </h3>
  	  	  	  	  <div class="mb-4">
  	  	  	  	  	<h4 class="text-uppercase mb-3 primary--text">Graphics/Media</h4>
  	  	  	  	  	<div class="pl-4">
  	  	  	  	  	  <v-layout 
  	  	  	  	  	  v-for="(item, i) in skills"
  	  	  	  	  	  :key="i"
  	  	  	  	  	  align-center
  	  	  	  	  	  class="mb-2">
  	  	  	  	  	    <v-flex xs5>
  	  	  	  	  	      <h5 class="subheading">{{ item.software }}</h5>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	    <v-flex xs7>
  	  	  	  	  	      <v-rating
  	  	  	  	  	      dense
  	  	  	  	  	      :length="len"
                          v-model="item.knowledge">
  					      	<v-icon
  					      	slot="item"
  					      	slot-scope="props"
  					      	:color="props.isFilled ? 'primary' : 'black' ">fiber_manual_record</v-icon>
  					      </v-rating>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	  </v-layout>
  	  	  	  	  	</div>
  	  	  	  	  </div>
  	  	  	  	  <div class="mb-4">
  	  	  	  	  	<h4 class="text-uppercase mb-3 primary--text">Programming</h4>
  	  	  	  	  	<div class="pl-4">
  	  	  	  	  	  <v-layout 
  	  	  	  	  	  v-for="(item, i) in skills_1"
  	  	  	  	  	  :key="i"
  	  	  	  	  	  align-center 
  	  	  	  	  	  class="mb-2">
  	  	  	  	  	    <v-flex xs5>
  	  	  	  	  	      <h5 class="subheading">{{ item.language }}</h5>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	    <v-flex xs7>
  	  	  	  	  	      <v-rating
  	  	  	  	  	      dense
  	  	  	  	  	      :length="len"
                          v-model="item.knowledge">
  					      	<v-icon
  					      	slot="item"
  					      	slot-scope="props"
  					      	:color="props.isFilled ? 'primary' : 'black' ">fiber_manual_record</v-icon>
  					      </v-rating>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	  </v-layout>
  	  	  	  	  	</div>
  	  	  	  	  </div>
  	  	  	  	  <div class="mb-4">
  	  	  	  	  	<h4 class="text-uppercase mb-3 primary--text">Other</h4>
  	  	  	  	  	<div class="pl-4">
  	  	  	  	  	  <v-layout
  	  	  	  	  	  v-for="(item, i) in skills_2"
  	  	  	  	  	  :key="i" 
  	  	  	  	  	  align-center 
  	  	  	  	  	  class="mb-2">
  	  	  	  	  	    <v-flex xs5>
  	  	  	  	  	      <h5 class="subheading">{{ item.name }}</h5>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	    <v-flex xs7>
  	  	  	  	  	      <v-rating
  	  	  	  	  	      dense
          				  :length="len"
                          v-model="item.knowledge">
  					      	<v-icon
  					      	slot="item"
  					      	slot-scope="props"
  					      	:color="props.isFilled ? 'primary' : 'black' ">fiber_manual_record</v-icon>
  					      </v-rating>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	  </v-layout>
  	  	  	  	  	</div>
  	  	  	  	  </div>
  	  	  	  	</v-flex>
  	  	  	  </section>
  	  	  	  <section 
  	  	  	  id="portfolio" 
  	  	  	  class="layout wrap" 
  	  	  	  :class=" this.$vuetify.breakpoint.name == 'xs' ? 'pa-3' : 'pa-5' "
  	  	  	  style="position: relative;">
  	  	  	  	<v-img 
  	  	  	  	class="abstract-3" 
  	  	  	  	style="height: 100%; width: 100%;" 
  	  	  	  	src="assets/abstract3.png"></v-img>
  	  	  	  	<h2 class="display-2 font-weight-bold primary--text mb-4">What I've done</h2>
  	  	  	  	<v-carousel
  	  	  	  	v-for="(item, i) in projects"
  	  	  	  	:key="i"
  	  	  	  	hide-controls 
  	  	  	  	class="elevation-0" 
  	  	  	  	style="height: 600px">
  	  	  	  	  <v-carousel-item>
  	  	  	  	  	<v-sheet class="transparent pa-3" style="height: 100%;">
  	  	  	  	  	  <div class="text-xs-center mb-5">
  	  	  	  	  	  	<h2 class="primary--text title font-weight-light mb-1">
  	  	  	  	  	  	  {{ item.name }}
  	  	  	  	  	  	</h2>
  	  	  	  	  	  	<span class="subheading">{{ item.category }}</span>
  	  	  	  	  	  </div>
  	  	  	  	  	  <v-layout wrap>
  	  	  	  	  	    <v-flex shrink>
  	  	  	  	  	      <div class="mb-3" style="max-width: 600px">
  	  	  	  	  	      	<h2 class="primary--text title font-weight-light mb-3">
  	  	  	  	  	      	  Project Details
  	  	  	  	  	      	</h2>
  	  	  	  	  	      	<div class="subheading mb-5">
        					   {{ item.detail }}
  	  	  	  	  	      	</div>
  	  	  	  	  	      	<h2 class="primary--text title font-weight-light">
  	  	  	  	  	      	  Project Info
  	  	  	  	  	      	</h2>
  	  	  	  	  	      	<v-list class="transparent">
  	  	  	  	  	      	  <v-list-tile>
  	  	  	  	  	      	    <v-list-tile-action>
  	  	  	  	  	      	      <v-icon>person</v-icon>
  	  	  	  	  	      	    </v-list-tile-action>
  	  	  	  	  	      	    <v-list-tile-title class="mr-2">Client Name</v-list-tile-title>
  	  	  	  	  	      	    <v-list-tile-sub-title class="hidden-sm-and-down">{{ item.clients }}</v-list-tile-sub-title>
  	  	  	  	  	      	  </v-list-tile>

  	  	  	  	  	      	  <v-list-tile>
  	  	  	  	  	      	    <v-list-tile-action>
  	  	  	  	  	      	      <v-icon>calendar_today</v-icon>
  	  	  	  	  	      	    </v-list-tile-action>
  	  	  	  	  	      	    <v-list-tile-title class="mr-2">Project Dates</v-list-tile-title>
  	  	  	  	  	      	    <v-list-tile-sub-title class="hidden-sm-and-down">{{ item.date }}</v-list-tile-sub-title>
  	  	  	  	  	      	  </v-list-tile>

  	  	  	  	  	      	  <v-list-tile>
  	  	  	  	  	      	    <v-list-tile-action>
  	  	  	  	  	      	      <v-icon>style</v-icon>
  	  	  	  	  	      	    </v-list-tile-action>
  	  	  	  	  	      	    <v-list-tile-title class="mr-2">Project Category</v-list-tile-title>
  	  	  	  	  	      	    <v-list-tile-sub-title class="hidden-sm-and-down">{{ item.categories }}</v-list-tile-sub-title>
  	  	  	  	  	      	  </v-list-tile>
  	  	  	  	  	      	</v-list>
  	  	  	  	  	      </div>
  	  	  	  	  	    </v-flex>
  	  	  	  	  	  </v-layout>
  	  	  	  	  	</v-sheet>
  	  	  	  	  </v-carousel-item>
  	  	  	  	<v-carousel>
  	  	  	  </section>
  	  	  	</v-container>
  	  	  </div>
  	  	</v-content>
  	</v-app>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
  new Vue({
  	el: '#app',
  	data(){
  	  return {
  	  	rating: 4,
  	  	len: 5,
        developer: {
          name: "Emirhan Ataman",
          specialist: "Back-end Developer",
          bio: "I am front-end developer that specializes in Vue and Veutify development. Consectetur adipisicing elit, sed do eiusmod tempor. Quisque viverra quam urna, ac commodo augue convallis et. In vel nisl imperdiet, cursus elit ac, efficitur sem. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum.",
          shortBio: "I'm self-taught, self-motivated programmer. I've been contributioning my own clone-like projects.",
          location: "Turkey",
          phone: "(90) 532 321 3232",
          discord: "@OFFLINE GOD",
          mail: "emirhan@ataman.com"
        },
  	  	education: [
  	  		{
  		  		school: "State Univeristy",
  		  		degree: "Bachelor of Computer Science",
  		  		program: "Computer Science",
  		  		year: "2013-2017"
  		  	},
  		  	{
  		  		school: "State Univeristy",
  		  		degree: "Bachelor of Computer Science",
  		  		program: "Computer Science",
  		  		year: "2013-2017"
  		  	},
  		  	{
  		  		school: "Community College",
  		  		degree: "Community College",
  		  		program: "Community College",
  		  		year: "2012-2013"
  		  	},
  		  	{
  		  		school: "Community College",
  		  		degree: "Associate of Science",
  		  		program: "Graphic Design",
  		  		year: "2010-2012"
  		  	},
  	  	],
  	  	skills: [
  	  		{
  	  			software: "Photoshop",
  	  			knowledge: 4
  	  		},
  	  		{
  	  			software: "Illustrator",
  	  			knowledge: 4
  	  		},
  	  		{
  	  			software: "Fireworks",
  	  			knowledge: 4
  	  		},
  	  		{
  	  			software: "InDesign",
  	  			knowledge: 4
  	  		},
  	  		{
  	  			software: "Effects",
  	  			knowledge: 4
  	  		},
  	  	],

  	  	skills_1: [
  	  		{
  	  			language: "Javascript" ,
  	  			knowledge: 4
  	  		},
  	  		{
  	  			language: "PHP/MYSQL" ,
  	  			knowledge: 4
  	  		},
  	  		{
  	  			language: "jQuery" ,
  	  			knowledge: 4
  	  		},
  	  		{
  	  			language: "HTML5/CSS3" ,
  	  			knowledge: 4
  	  		},
  	  	],

  	  	skills_2: [
  	  		{
  	  			name: "Graphic Design",
  	  			knowledge: 4,
  	  		},
  	  		{
  	  			name: "Marketing",
  	  			knowledge: 4,
  	  		},
  	  		{
  	  			name: "Web Design",
  	  			knowledge: 4,
  	  		},
  	  		{
  	  			name: "Logo Design",
  	  			knowledge: 4,
  	  		},
  	  	],

  	  	projects: [
  	  		{
  	  			name: "Classic Cafe Rebrand",
  	  			category: "Logo Design",
  	  			detail: "In ac felis quis tortor malesuada pretium. Phasellus dolor. Fusce fermentum odio nec arcu. Integer tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ac felis quis tortor malesuada pretium. Phasellus dolor. Fusce fermentum odio nec arcu. Integer tincidunt",
  	  			clients: "the clients name",
  	  			date: "date, date",
  	  			categories: "category, category, category"
  	  		}
  	  	]

  	  }
  	},

  	methods: {
  		scroll(id){
  			document.getElementById(id).scrollIntoView({
  			  behavior: 'smooth'
  			})
  		},
  	},
  })
</script>
</body>
</html>

<style>
  .primary--text {
	   color: #ffaa00 !important;
	   caret-color: #ffaa00 !important;
  }
  .primary {
	   background-color: #ffaa00 !important;
	   border-color: #ffaa00 !important;
   }
  .abstract-1 {
      position: absolute!important;
      left: -48px;
      top: -48px;
      z-index: 0!important;
  }
  .abstract-1~* {
      z-index: 1!important;
  }

  .abstract-2 {
      position: absolute!important;
      right: 0;
      top: -128px;
      z-index: 0!important;
  }
  .abstract-2~* {
      z-index: 1!important;
  }

  .abstract-3 {
      position: absolute!important;
      left: 0;
      right: 0;
      z-index: 0!important;
  }
  .abstract-3~* {
      z-index: 1!important;
  }
</style>